<template>

<div id="addApp" class=" ">
  <div class="columns">


  <div class="column is-half is-offset-one-quarter ">

    <form class="card" action="/add" method="post">
      <div class="field is-half">
        <label class="label">Автори</label>
        <p class="control">
          <input type="text" class="input"  required v-model.trim="toSend.autors" placeholder="Автори" name="autors" value="">
        </p>
      </div>
      <div class="field">
        <label class="label">Назва документу</label>
        <p class="control">
          <input type="text" class="input" required v-model.trim="toSend.title" placeholder="Назва документу" name="title" value="">
        </p>
      </div>
      <div class="field">
        <label class="label">Текст документу</label>
        <p class="control">
          <textarea name="" class="textarea" required v-model.trim="toSend.pot" name="pot" placeholder="Текст документу"></textarea>
        </p>
      </div>

      <button type="submit" class="button is-primary" v-on:click="send">ok</button>


    </form></div>
  </div>
</div>
</template>
<script>
import Vue from 'vue'
import VueResource from 'vue-resource';
Vue.use(VueResource);
export default {
  name: "addApp",
  data: function data() {
    return {
      toSend: {
        title: '',
        autors: "",

        pot: ""
      }
    }
  },
  methods: {
    send: function send() {
      if (toSend.title&&toSend.autors&&toSend.pot) {


      var self = this;
      this.$http.post("/add", self.toSend).then(function(e) {
        if (e.ok) {
          alert("ok");
        }
      });

    }}
  },
  mounted: function mounted() {
    //do something after mounting vue instance
    // alert("qqw!");
  }
}
</script>
<style lang="scss">
form {padding: 10px;
margin-top: 10%;
}
#addApp {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}
</style>
