<style lang="scss">
// #app {
//     font-family: 'Avenir', Helvetica, Arial, sans-serif;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     text-align: center;
//     color: #2c3e50;
//     margin-top: 60px;
// }
//
// h1,
// h2 {
//     font-weight: normal;
// }
//
// ul {
//     list-style-type: none;
//     padding: 0;
// }
//
// li {
//     display: inline-block;
//     margin: 0 10px;
// }
//
// a {
//     color: #42b983;
// }
// input {
//     width: 30rem;
// }
// td,th {
//
//   text-align: center!important;
// }
// td {
//   border: solid black;
// }

.stateBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    height: 40vh;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
}
.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.result-row {
    display: inline-flex;
    justify-content: center;
}
</style>

<template>
<div id="app">
  <div class="column is-half is-offset-one-third ">

  </div>


  <div v-if="!(req.length)" class="stateBlock">
    <h1><strong>Пошук за інформаційним запитом</strong></h1>
  </div>

  <div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
      <form action="/" class="field has-addons has-addons-centered">
        <p class="control">
          <a href="addDocument.html" class="button is-success">
        Додати
      </a>
          <p class="control is-expanded">
            <input class="input" required v-model.trim="query" type="text" placeholder="Введіть запит">
          </p>
          <p class="control ">
            <button type="submit" @click.prevent="search" :class="'button is-info' +loadClass">
<i class="material-icons">search</i> Пошук
      </button>
          </p>
      </form>
    </div>
  </div>
  <div v-if="!!(req.length)" class="">
    <div>
      <!-- <div class="result">
        <div class="result-row" v-for="corpus in req">
          <div class="raiting">
            {{corpus.data.ratingS}}
          </div>
          <div class="autors">{{corpus.autors}}
          </div>
          <div class="title">
            {{corpus.title}}
          </div>
        </div>
      </div> -->


<div class="container">

      <table class="table is-striped">

        <thead>
          <th>Рейтинг</th>
          <th>Автори</th>
          <th>Назва</th>


        </thead>
        <tr v-for="corpus in req">
          <td>{{corpus.data.ratingS}}</td>
          <td>{{corpus.autors}}</td>
          <td>{{corpus.title}}</td>
          <!-- <td>{{corpus.data.entropy}}</td>
          <td>{{corpus.data.prirost}}</td>
          <td>{{corpus.data.otnositelniy}}</td>
          <td>{{corpus.data.rating}}</td>
          <td>{{corpus.data.obsheeVesovoe}}</td>
          <td>{{corpus.data.otnositelniy2}}</td> -->

        </tr>
      </table>

    </div>
    </div>
  </div>
  <!-- {{req|json}} -->
</div>
</template>

<script>
import Vue from 'vue'
// import VueRouter from 'vue-router'
import VueResource from 'vue-resource'

// Vue.use(VueRouter);
Vue.use(VueResource);
export default {
  name: 'app',
  data() {
    return {
      query: '',
      req: [],
      loadState: 0,
    }
  },
  computed: {
    loadClass() {
      if (this.loadState) {
        return " is-loading"
      }
      return " "
    }
  },
  methods: {
    search: function search() {
      if (this.query.length) {
        var self = this;
        self.loadState = 1;
        this.$http.post("/", {
          q: this.query
        }).then(function(req) {

          let temp = req.data;
        temp =  temp.sort((a, b) => {
            return a.data.ratingS - b.data.ratingS;
          });
          self.req = temp;
          self.loadState = 0;
        })
      }
    }
  }
}
</script>
